<div class="form center-content">
  <form class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Topic</mat-label>
      <input matInput placeholder="Topic" [(ngModel)]="topic" id="topic" name="topic">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Format</mat-label>
      <mat-select [(ngModel)]="selectedEssayFormat" name="essayFormat">
        <mat-option *ngFor="let format of essayFormats" placeholder="Essay Format" [value]="format">
          {{format}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="completion()">Write My {{selectedEssayFormat}}!</button>
    <button mat-raised-button (click)="imageGenerate()">Make Image</button>
  </form>
</div>

<div [hidden]="reviewOutput === '' && image_url === '' && !isLoading">
  <mat-card>
    <div [hidden]="!isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <a href="{{image_url}}">Click to see!</a>
    <p>{{reviewOutput}}</p>
  </mat-card>
</div>