.form {
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.center-content{
	justify-content: center;
	align-items: center
}

